[data-theme="pixel"] {
    --railH: 8px;
    --knobW: 16px;
    --knobH: 16px;
    --buttonHeight: var(--charH);
    --rowHeight:    var(--charH);

    --clickable:  #2c3e50;
    --active:     #4b5563;
    --button:     rgb(149, 170, 175);
    --selected:   #8fa7b2;
    --focus:      #6d8591;
    --background: rgb(208, 225, 232);
    --shadow:     #8fa7b2;
    --neutral0:   #000000;
    --neutral1:   #4b5563;
    --neutral2:   #6b7280;
    --neutral3:   #9ca3af;
    --neutral4:   #ffffff;

    --font: 'roboto', monospace;

    color: #333;
}

[data-theme="pixel"] .BrowseList-row-selected {
    background-color: var(--selected);
    color: white;
}

[data-theme="pixel"] body{
  color: black;
}

[data-theme="pixel"] .pixel-title {
  font-family: "vt323";
}

[data-theme="pixel"] .track-info-panel{
  border-radius: 10px;
}

[data-theme="pixel"] .custom-scrollbar::-webkit-scrollbar-track {
  background: #cddce3;
}

[data-theme="pixel"] .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8fa7b2;
  border: 2px solid #cddce3;
}

[data-theme="pixel"] .tab-selected {
  background-color: #cddce3 !important;
  color: rgba(67, 84, 102, 1) !important;
  text-transform: uppercase;
}

[data-theme="pixel"] .retro-window {
  background: #cddce3;
  border: 3px solid #6d8591;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

[data-theme="pixel"] .retro-header {
  background: rgba(67, 84, 102, 1);
}

[data-theme="pixel"] .retro-header button:not(.close-btn) {
  background: none;
  border: none;
  color: #cddce3;
  font-family: "vt323";
}

[data-theme="pixel"] .player-content {
  background-color: rgb(208, 225, 232);
}

[data-theme="pixel"] .visualization-area {
  background-color: rgb(170, 195, 197);
  border-bottom: 2px solid #6d8591;
}

[data-theme="pixel"] .album-sticker {
  background-color: rgb(149, 170, 175);
}

[data-theme="pixel"] .album-sticker-img {
  background-color: #fff;
}

[data-theme="pixel"] .album-label {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
[data-theme="pixel"] .waveform-bg {
  background-color: rgb(205, 220, 227);
}

[data-theme="pixel"] .control-container {
  background-color: rgb(170, 195, 197);
  border-top: 2px solid #6d8591;
}
[data-theme="pixel"] .knob {
  background: #8fa7b2;
  border: 4px solid #6d8591;
  box-shadow: inset -4px -4px 0px #6d8591;
}

[data-theme="pixel"] .knob::after {
  background: #333;
}

[data-theme="pixel"] .vol-text {
  color: #4b5563;
  font-weight: bold;
}

[data-theme="pixel"] /* 4. Seek Bar */
    .seek-bar-container {
  font-weight: bold;
}

[data-theme="pixel"] .seek-track {
  background-color: rgb(73, 91, 105);
}

[data-theme="pixel"] .seek-fill {
  background-color: white;
}

[data-theme="pixel"] .seek-thumb {
  background-color: white;
  border: 2px solid #6d8591;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

[data-theme="pixel"] .main-thumbnail {
  background-color: white;

}
[data-theme="pixel"] .main-player-window {
  border-radius: 10px;
}

[data-theme="pixel"] .color-box {
  border: 1px solid black;
}

[data-theme="pixel"] .color-blue {
  background-color: #dbeafe;
}

[data-theme="pixel"] .color-gray {
  background-color: #e5e7eb;
}

[data-theme="pixel"] .metadata-container {
  border-top: 1px solid #8fa7b2;
  border-bottom: 1px solid #8fa7b2;
}

[data-theme="pixel"] .font-bold {
  font-weight: bold;
}

[data-theme="pixel"] .album-thumb {
  border: 1px solid black;
}

[data-theme="pixel"] .toggle-switch {
  background-color: #8fa7b2;
  border: 1px solid #6d8591;
}

[data-theme="pixel"] .toggle-knob {
  background-color: white;
}

[data-theme="pixel"] .close-btn {
  background-color: rgba(167, 117, 114, 1);
  color: rgb(102, 56, 57);
  display: flex;
}

[data-theme="pixel"] .close-btn:hover {
  color: rgb(254, 202, 202);
}
[data-theme="pixel"] .text-header:not(.tab-selected span) {
  color: rgba(188, 217, 223, 1);
  text-transform: uppercase;
}

[data-theme="pixel"] .Visualizer-options {
  text-align: left;
  padding-bottom: 8px;
}

[data-theme="pixel"] .Visualizer-options > div {
  display: flex;
  align-items: center;
  height: 24px;
}

[data-theme="pixel"] .VisualizerParams-label {
  width: 80px;
  display: inline-block;
  color: #333;
}

[data-theme="pixel"] .Visualizer-options label {
  color: #333;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

[data-theme="pixel"] .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

[data-theme="pixel"] .Visualizer-overlay {
  top: 26%;
}

[data-theme="pixel"] .VisualizerParams-label {
  color: #333;
}

[data-theme="pixel"] label.inline {
  color: #333;
}

[data-theme="pixel"] h3 {
  color: #333;
}

[data-theme="pixel"] input[type=range] {
    -webkit-appearance: none;
    height: 8px;
    background: transparent;
    border: none;
}





[data-theme="pixel"] input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    background-color: rgb(73, 91, 105);
    border-radius: 4px;
    border: none;
}

[data-theme="pixel"] input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #dde6e8;
    border: 2px solid rgb(44, 62, 80);
    cursor: pointer;
}

[data-theme="pixel"] .Slider-rail {
    background-color: rgb(73, 91, 105);
    border: none;
    border-radius: 4px;
}

[data-theme="pixel"] .Slider-knob {
    background-color: #dde6e8;
    border: 2px solid rgb(44, 62, 80);
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
}

[data-theme="pixel"] input[type=range] {
    -webkit-appearance: none;
    height: 8px;
    background: transparent;
    border: none;
}

[data-theme="pixel"] input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background-color: rgb(73, 91, 105);
    border-radius: 4px;
    border: none;
}

[data-theme="pixel"] input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #dde6e8;
    border: 2px solid rgb(44, 62, 80);
    margin-top: -4px; /* (8px - 16px)/2 */
    cursor: pointer;
}

[data-theme="pixel"] input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    background-color: rgb(73, 91, 105);
    border-radius: 4px;
    border: none;
}

[data-theme="pixel"] input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #dde6e8;
    border: 2px solid rgb(44, 62, 80);
    cursor: pointer;
}

[data-theme="pixel"] .TimeSlider-labels,
[data-theme="pixel"] .VolumeSlider-labels {
    margin-top: 8px;
}

[data-theme="pixel"] input[type=range] {
    margin-bottom: 8px;
}
[data-theme="pixel"] {
  .back-forward-controls {
    justify-content: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color:black;
  }
}
